# Copy to .env and paste the license key from your n8n email
N8N_LICENSE_ACTIVATION_KEY=

N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/
GENERIC_TIMEZONE=Asia/Ho_Chi_Minh
